 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1371px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-group-1 {
  width: 1077px;
  min-height: 1093px;
  height: auto;
  margin: 90px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 64px 838px 0 32px;
}

.u-section-1 .u-image-1 {
  width: 214px;
  height: 249px;
  margin: -15px 238px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -165px auto 0 32px;
}

.u-section-1 .u-image-2 {
  width: 215px;
  height: 253px;
  margin: 83px 8px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: -273px 486px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: -412px auto 0 23px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: -60px auto 0 10px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -331px auto 0 23px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 64px auto 0 23px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  margin: 57px auto 0 23px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 62px auto 0 23px;
}

.u-section-1 .u-image-3 {
  width: 227px;
  height: 254px;
  margin: -181px 238px 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  margin: -13px auto 0 23px;
}

.u-section-1 .u-image-4 {
  width: 382px;
  height: 220px;
  margin: 4px 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 733px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-weight: 400;
  }

  .u-section-1 .u-text-4 {
    margin-right: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 513px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 373px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 173px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 153px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 93px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 184px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1176px;
}

.u-section-2 .u-group-1 {
  width: 1074px;
  min-height: 971px;
  height: auto;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 39px auto 0 46px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px auto 0 33px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -636px auto 0 33px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 1px auto 0 46px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 46px auto 0 46px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 55px auto 0 46px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 66px auto 0 46px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 66px auto 0 46px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 60px auto 0 46px;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 66px auto 0 46px;
}

.u-section-2 .u-text-11 {
  margin: -584px 203px 0 auto;
}

.u-section-2 .u-text-12 {
  margin: 55px 200px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  margin: -15px auto 0 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 152px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 96px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 94px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1183px;
}

.u-section-3 .u-group-1 {
  min-height: 1027px;
  height: auto;
  width: 1074px;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  margin: 79px auto 0 33px;
}

.u-section-3 .u-text-2 {
  margin: 50px auto 0 25px;
}

.u-section-3 .u-text-3 {
  margin: -248px auto 0 486px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 486px;
}

.u-section-3 .u-text-5 {
  margin: 24px auto 0 491px;
}

.u-section-3 .u-text-6 {
  margin: 26px 473px 0 491px;
}

.u-section-3 .u-text-7 {
  margin: 24px 473px 0 491px;
}

.u-section-3 .u-image-1 {
  width: 200px;
  height: 214px;
  margin: -353px 246px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 189px;
  height: 240px;
  margin: -47px 24px 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 29px 833px 0 33px;
}

.u-section-3 .u-text-9 {
  margin: 50px auto 0 33px;
}

.u-section-3 .u-text-10 {
  margin: -364px auto 0 474px;
}

.u-section-3 .u-image-3 {
  width: 197px;
  height: 285px;
  margin: -415px 246px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 198px;
  height: 278px;
  margin: -102px 15px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 421px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 421px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 426px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 404px;
    margin-left: 426px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 406px;
    margin-left: 424px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 732px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 316px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 316px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 320px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 290px;
    margin-left: 320px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 296px;
    margin-left: 314px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 512px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 249px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 249px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 218px;
    margin-left: 252px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 226px;
    margin-left: 244px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 372px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 153px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 153px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 155px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 115px;
    margin-left: 155px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 126px;
    margin-left: 144px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 120px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 172px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 150px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 123px;
  }
}